@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color: 33, 53, 71;
  --nav_bg: 255, 255, 255, 0.9;
  --background: 229, 231, 235;
  --search_bg: 255, 255, 255;
  --accountBtn_bg: 0, 0, 0, 0.5;
  --accountBtn_color: 255, 255, 255;
  --dark_whine: 60, 19, 35;
}

@layer components {
  .container {
    @apply w-[90%] mx-auto lg:w-[85%];
  }
}

.custom-transition {
  transition: all ease-in-out 300ms;
  /* color: rgb(60, 19, 35); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color: 255, 255, 255;
    --background: 33, 53, 71;
    --nav_bg: 24, 25, 32, 0.8;
    --search_bg: 255, 255, 255, 0.6;
    --accountBtn_bg: 255, 255, 255, 0.6;
    --accountBtn_color: 0, 0, 0;
  }
} */
